@charset "UTF-8";


body{
    background-image: linear-gradient(to right, #22BABB, #9EF8EE);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px white ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
#principal{
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #348888;
}
.titulo{
    color: #F24405;
}
h3{
    color: #050505;
    font-family: Arial, Helvetica, sans-serif;
}