@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #DAFDBA,#9AEBA3);
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #0a100b38;

}
h1{
   text-align: center;
    color: #2f4932;
    text-shadow: 2px, 2px, 2px, #012030;
}
h2{
    color: #2f4932;
}

p{
    text-align: justify;
}